<p class="mt-5">La instrucción <b>@list = List.find(:id)</b> que esta en la acción <b>show</b> del <b>controlador lists</b> permite ocupar esta variable de instancia en la vista show</p>
<p> @list muestra el objeto -> <%= @list %></p>
@list.nombre_columna -> permite mostrar el dato que tiene la columna. Ej:
@list.id -> <%= @list.id %> @list.name -> <%= @list.name %>
<br></p>
<p>Gracias a la relación <b>has_many :bookmarks</b> que está en el modelo List, podemos encontrar fácilmente todos los bookmarks que le pertenecen a List. Para ello utilizamos la variable de instancia @list de la siguiente forma:</p>

<b>@list.bookmarks</b> Para ver la información contenida debo usar each.

@list.bookmarks.each do |nombre_variable|
  nombre_variable.nombre_columna
end
<ul>
<%@list.bookmarks.each do |bookmark| %>
  <li><%= bookmark.comment %></li>
  <%= bookmark.movie.title %>
<% end %>
</ul>
